@using JA.Pagination.MVC5
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-12">
        @Html.RenderPager((int)ViewBag.Page, (int)ViewBag.Total, 
            x => $"?page={x}", 
            resourceOverrides: resource => { resource.Previous = "&laquo;"; resource.Next = "&raquo;"; })
    </div>
</div>